# =========================
# Arduino Build Files
# =========================
*.ino.with_bootloader.bin
*.elf
*.hex
*.bin
*.map

# =========================
# Arduino IDE / Temp
# =========================
*.tmp
*.temp
*.bak

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# Sensitive Info (optional future)
# =========================
secrets.h
config_private.h